body{
    color: rgb(246, 70, 0);
    background-color: rgb(25, 0, 255);
    background-image: url("8BF79495-C530-43B8-81AC-D209F21E4E41.jpg");
    font-family: monospace;
    text-align: center;
}

    .Ultramarine{
        border: solid 10px rgb(255, 72, 0);
        font-family: sans-serif;
        font-size: 120%;
    }
    a:hover{
text-decoration: overline;
font-size: 100%;
background-color: antiquewhite;
    }
    .Ultramarine:hover{
        border: 5px;
        text-decoration: overline;
        font-size: 300%;
}
li:hover{

font-size: 5%;
background-color: beige;

}

.newfont
{
    font-family: monospace;
    font-size: large;
    color: darkorange;
}
